# Environment variables
.env
.env.*

# Node modules (if using Node.js)
node_modules/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/
target/

# Python (if using FastAPI / AI service)
__pycache__/
*.pyc
.venv/
venv/

# Java (Spring Boot)
*.class
*.jar
*.war