<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="$PROJECT_DIR$/PROFILE-SERVICE/src/main/java/com/audit/profile/ProfileServiceApplication.java" />
        <option name="qualifiedMainClassName" value="com.audit.profile.ProfileServiceApplication" />
        <option name="runConfigurationName" value="ProfileServiceApplication" />
      </NativeProjectSettings>
    </option>
  </component>
</project>